body {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

#video {
    width: 100%;
    height: 500px;
    border: none;
}

#oya {
    background-color: rgb(156, 145, 137);
    color: rgb(247, 247, 247);
}

.my_nav_bar {
    position: sticky;
    top: 0px;
    z-index: 99999;
}

#map iframe {
    width: 100%;
}

#Details h3 {
    display: inline;
}